.JenshenFarqi{
    padding-top: 75.50px;
}

.jenshenFarqi__items-top{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 136px;
}

.itemTop__left{
    width: 655px;
    background-image: url('../../assets/img/JenshenFarqiBg.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 30px;
    margin-top: 30px;
}

.itemTop__left p{
    max-width: 578px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    align-items: center;
    margin: 0 auto;
}


.jenshenFarqi__items-center{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 137px;
}

.itemCenter__right{
    margin-bottom: 30px;
}

.itemCenter__left{
    width: 655px;
    background-image: url('../../assets/img/JenshenFarqiBg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.itemCenter__left p{
    max-width: 578px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    align-items: center;
    margin: 0 auto;
    color: #000000;
}

.jenshenFarqi__items-bottom{
    max-width: 1440px;
    background-image: url('../../assets/img/JenshenFarqiBottomBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 239px;
}

.jenshenFarqi__Bottom-info{
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.itemBottom__left p{
    width: 670px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    margin-right: 15px;
}

.itemBottom__right img{
    width: 550px;
    height: 390px;
    overflow: hidden;
    cursor: pointer;    
}

@media screen and (max-width: 1310px) {
    .JenshenFarqi{
        .container{
            .jenshenFarqi__items{
                .jenshenFarqi__items-top{
                    .itemTop__left{
                        order: 2;
                    }
                    .itemTop__right{
                        order: 1;
                    }
                }
            }
        }
    }
    .jenshenFarqi__Bottom-info{
        .itemBottom__left{
            order: 2;
        }
        .itemBottom__right{
            order: 1;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 960px) {
    .jenshenFarqi__items-center{
        padding-bottom: 0;
    }
    .jenshenFarqi__items-top{
        padding-bottom: 0;
    }
    .itemTop__right{
        img{
            width: 100%;
        }
    }
    .itemTop__left{
        p{
            font-size: 16px;
            line-height: 20px;
        }
    }
    .itemCenter__right{
        img{
            width: 100%;
        }
    }
    .itemCenter__left{
        p{
            font-size: 16px;
            line-height: 20px;
        }
    }
    .jenshenFarqi__items-bottom{
        margin-bottom: 0;
        padding: 20px;
        height: auto;
        .jenshenFarqi__Bottom-info{
            width: 100%;
            height: auto;
            .itemBottom__right{
                width: 100%;
                height: auto;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                }
            }
            .itemBottom__left{
                width: 100%;
                height: auto;
                p{
                    width: 100%;
                    font-size: 16px;
                    line-height: 18px;
                    padding-bottom: 50px;
                }
            }
        }
    }
}
