
.Header{
    width: 100%;
    background-image: url(../../assets/img/header__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    .mycontainer{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            .nav__right{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 20px;
                .nav__ul{
                    list-style-type: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    li{
                        width: 130px;
                        margin: 10px;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }
                select{
                    border: none;
                    font-size: 20px;
                    width: 80px;
                    text-align: center;
                    margin-right: 20px;
                    outline: none;
                    background-color: transparent;
                    option{
                        background-color: crimson;
                        color: #fff;
                        font-size: 20px;
                    }
                }
                a{
                    text-decoration: none;
                    color: #fff;
                    button{
                        border-radius: 5px ;
                        background-color: #167526;
                        flex-direction: row;
                        gap: 10px;
                        padding: 20px 30px;
                        border: none;
                        color: #fff;
                        cursor: pointer; 
                        transition: 0.4s ease-in-out;
                        &:hover{
                            background-color: #770613;
                        }
                    }
                }
            }
        }

        .hero{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .hero__left{
                background-image: url(../../assets/img/header__back111.png);
                background-repeat: no-repeat;
                background-size: cover;
                color: #fff;
                .hero__info{
                    margin-top: 210px;
                    h4{
                        font-size: 30px;
                        margin-bottom: 0;
                    }
                    h1{
                        font-size: 60px;
                        max-width: 576px;
                        margin-top: 0;
                    }
                    a{
                        text-decoration: none;
                        color: #fff;
                        button{
                            border-radius: 5px ;
                            background-color: #167526;
                            flex-direction: row;
                            gap: 10px;
                            padding: 20px 30px;
                            border: none;
                            color: #fff;
                            cursor: pointer;
                            transition: 0.4s ease-in-out;
                            &:hover{
                                background-color: #fff;
                                color: #770613;
                            }
                        }
                    }
                }
            }
            .hero__right{
                img{
                    max-width: 770px;
                    margin-bottom: 320px;
                    margin-top: 150px;
                }
            }
        }
    }
}