.Header {
    background-image: url(../../assets/img/header.bag.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mycontainerrrr {
    margin: 0 auto;
    max-width: 1440px;
}
.active{
    background-color: #760612;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.2s ease-in-out;
}
.active .nav__ul li a, .active .nav__select{
    transition: 0.4s ease-in-out;
    color: #fff;
}


.nav {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    z-index: 999;
}
.nav img{
    width: 150px;
}


.nav__ul {
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.2799999713897705px;
    text-align: left;
    width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.nav__ul li{
    margin-top: 20px;
}
.nav__ul li a{
    color: black;
}
.nav__right {
    /* flex-wrap: wrap; */
    text-align: center;
    max-width: 70%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.noneee{
    display: none;
}
.hero__right img{
    width: 100%;
}
.nav img {
    object-fit: contain;
}

.nav__select {
    border: none;
    margin: 20px;
    height: 21px;
    background-color: transparent;
    outline: none;
}
.nav__select option{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: crimson;
}
.none{
    border: none;
    background-color:transparent;
    display: none;
}
.none option{
    color: black;
}
.nav__btn {
    background: #167526;
    color: white;
    height: 61px;
    width: 234px;
    border-radius: 5px;
    border: none;
    padding: 20px 30px 20px 30px;
    transition: 0.4s ease-in-out;
}
.nav__btn:hover {
    transform: scale(0.95);
}
.nav__btn a{
    color: white;
}
.nav__btn p {
    margin-top: 0;
    font-family: Roboto Slab;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.2799999713897705px;
}

.hero__left {
    color: white;
    width: 100%;
    /* background-image: url(../../assets/img/baground.png); */
}

.hero {
    display: flex;
}

.hero__info {
    margin-top: 200px;
    max-width: 100%;
}

.hero__info h4 {
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}

.hero__info h1 {
    font-family: Roboto Slab;
    font-size: 60px;
    font-weight: 600;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: left;
}

.hero__right{
    width: 100%;
    text-align: center;
}
.img {
    margin: 200px 0;
}
.change_ul{
    width: 100%;
    height: 20vh;
    display: flex;flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.change_ul > li > a{
    text-decoration: none;
    color: black;
}
.navbr__colapse .nav__btn{
    background-color: rgb(235, 232, 232);
    margin-bottom: 0;
}
.navbr__colapse  .nav__btn  a{
    color: black !important;
    text-decoration: none !important;
}
.navbr__colapse{
    width: 100%;
    z-index: 999;
    min-height: 305px;
    background-color: rgba(255, 255, 255, 0.923);
    top: 107px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 15px 30px 30px 15px;
    transition: 0.2s ease-in-out;
    left: 0;
    position: fixed;
}
.menu{
    width: 35px;
    height: 35px;
    /* border: 1px solid red; */
    display: none;
    justify-content: space-evenly;
    padding: 5px 0;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.menu span{
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    display: block;
    z-index: 9999;
    transition: 0.2s ease;
}
a{
    text-decoration: none;
}
@media (max-width:1000px) {
    .Header{
        background-image: url(../../assets/img/123456.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nav__ul{
        display: none;
    }
    .none{
        display: block;
        outline: none;
    }
    .uy{
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
    }
    .hero__left{
        order: 2;
    }
    .hero__right{
        order: 1;
    }
    .hero__info h1{
        font-size: 32px;
        line-height: 32px;
    }
    .hero__info h4{
        font-size: 22px;
    }
    .change_none{
        display: none !important;
    }
    .img{
        margin: 100px 0;
        width: 100%;
    }
    .nav__btn{
        margin-bottom: 150px;
    }
    .menu{
        display: flex;
    }
    
    .xxx > span:nth-child(1){
        transform: rotate(45deg);
    }
    .xxx > span:nth-child(2){
        display: none;
    }
    .xxx > span:nth-child(3){
        transform: rotate(-45deg);
        margin-top: -12px;
    }
    .xxx > span{
    }
    .change_select{
        margin: 8px 17px 8px 0 !important;
    }
}
@media(max-width:980px){
    .hero{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .img{
        max-width: 770px;
    }
    .hero__info{
        margin-top: 100px;
        text-align: center;
    }
    .hero__info h4{
        text-align: center;
        margin: 0 auto;
    }
    .hero__info h1{
        margin-top: 20px;
        text-align: center;
    }
    .nav__select{
        color: white;
        outline: none;
    }
    .none{
        color: white;
    }
    .hero__left button{
        margin-top: 20px;
    }
    .Buyurtma{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .buyurtma{
        margin: 80px auto;
    }
    .mikrofon{
        margin-left: -100px;
        max-width: 950px;
        margin-bottom: 150px;
    }
    .mikrofon img{
        width: 700px;
        margin: 0 auto;
        margin-left: 200px;
        margin-bottom: 100px;
    }
    .chegirma{
        margin-top:-580px;
        margin-left: 280px;
    }
    .oldingi{
        margin-left: 0;
        margin-top: -500px;
    }
    .oldingi h1{
        width: 300px;
        margin-left: 200px;
    }
    .narx h1{
        width: 250px;
    }
    .foyda h4{
        width: 250px;
    }
}