.Buyurtma {
    display: flex;
    justify-content: space-between;
}
.buyurtma {
    color: white;
    display: flex;
    background: #770613;
    background-image: url(../../assets/img/buyurtma.png);
    object-fit: contain;
    flex-direction: column;
    height: 574px;
    width: 572px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 1px solid #000;
    text-align: center;
}

.mikr{
    margin-top: 100px;
}
.buyurtma h2 {
    font-family: Roboto Slab;
    font-size: 46px;
    font-weight: 400;
    line-height: 65px;
    text-align: center;
}

.buyurtma h4 {
    margin: 0 auto;
    height: 49.55944061279297px;
    max-width: 400.38812255859375px;
    font-family: Roboto Slab;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.buyurtma input {
    color: white;
    background: linear-gradient(0deg, #89363D, #89363D),
        linear-gradient(0deg, rgba(176, 76, 8, 0), rgba(176, 76, 8, 0));
    margin: 30px auto;
    height: 67.81818389892578px;
    width: 406.9090881347656px;
    border-radius: 13.04195785522461px;

}

.buyurtma button {
    margin: 30px auto;
    background: #167526;
    border: none;
    color: white;
    height: 67.81818389892578px;
    width: 408.2132873535156px;
    border-radius: 6.520978927612305px;
}
.chegirma{
    color: white;
    font-family: Bitter;
font-size: 33px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
    margin-top: -490px;
    margin-left: 250px;
    position: absolute;
    height: 40.00000047937316px;
width: 151.0000018096337px;
transform: rotate(8deg);
}
.oldingi{
    color: #E78743;
    margin-top: -380px;
    margin-left: 230px;
    transform: rotate(10deg);
}
.narx{
    color: white;
    margin-top: 80px;
    margin-left: 230px;
    transform: rotate(10deg);
}
.foyda{
    margin-top: 45px;
    margin-left: 200px;
    transform: rotate(8deg);
}