.turlari {
    max-width: 100%;
    border: 1px solid transparent;
    background-image: url(../../assets/img/turlari.png);
    object-fit: cover;
}

.uy {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.uy li {
    background-image: url(../../assets/img/uy.png);
    text-align: center;
    height: 565px;
    width: 680px;
    margin-top: 220px;
    margin-bottom: 140px;
}

.uy li img {
    margin: 220px auto;
}

.uy li h2 {
    color: white;
    font-family: Roboto Slab;
    font-size: 25px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    margin: -200px;
}
@media(max-width:1600px){
    .ul li{
        border: 1px solid #000;
    }
}