.footer{
    background: url('../../assets/img/footer-bi.png');
    background-repeat: no-repeat;
    background-position: center;
}

.mycontainerrr {
    margin: 0 auto;
    max-width: 1440px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto;
    /* background-image: url(../../assets/img/footerImage.png); */
}

.footer__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 234px 0 94px;
}
.footer__contact{
    /* width: 17%; */
    width: 230px;
    /* border: 1px solid red; */
}
.contact__info{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    margin: 38px 0 65px;
}
.contact__links{
    display: flex;
    align-items: center;
}
.contact__links > .link{
    transition: 0.4s ease-in-out;
    margin-left: 48px;
}
.contact__links > .link:hover{
    transform: rotate(360deg);
}
.telegram{
    margin-left: 0 !important;
}
.link > a{
    color: white;
    text-decoration: none;
}

/* Components start */

.footer__components{
    margin: 30px;
}

.footer__components > .component{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-top: 30px;
}

.component > a{
    color: #FFFFFF;
    text-decoration: none;
}

/* Components end */


/* Form start */

.footer__form{
    /* width: 25%; */
    width: 307px;
    /* border: 1px solid red; */
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > .form__title{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.form > input{
    background: #89363D;
    border-radius: 10px;
    width: 94%;
    height: 52px;
    border-radius: 10px;
    padding-left: 20px;
    color: white;
    outline: none;
    border: none;
}
.form > input:first-of-type{
    margin: 22px 0 29px;
}
::placeholder{
    color: white;
}
.form > button{
    width: 100%;
    text-align: center;
    padding: 17.5px 0;
    margin-top: 34px;
    text-transform: uppercase;
    background: #B04C08;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 885px) {
    .footer__row{
        align-items: flex-start;
        padding: 94px 20px;
    }
    .footer__components{
        margin-top: 0;
    }
    .footer__form{
        margin-top: 20px;
    }
    .mycontainer {
        background-position: center;
    }
}
@media (max-width: 525px) {
   
    .footer__components{
        margin-left: 0;
    }
    .footer__row{
        padding: 94px 20px;
    }
    .mycontainerrr{
        padding: 0 20px;
    }
}