.Fact{
    max-width: 100%;
}

.mycontainer {
    margin: 0 auto;
    max-width: 90%;
}

.fact__title{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 65px;
    color: #000000;
    text-align: center;
    margin: 150px 0 60px 0;
}
.fact__image{
    /* animation: scal 3.2s ease-in-out infinite; */
}
@keyframes scal {
    0%{
        transform: rotate(-1deg);
    }
    50%{
        transform: rotate(1deg);
    }
    100%{
        transform:  rotate(-1deg);
    }
}

.fact__row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.fact__card{
    position: relative !important;
    margin-bottom: 30px;
    animation: scal 3.2s ease-in-out infinite;
    transform-origin: 150px 50px;
}
.fact__content{
    position: absolute;
    top: 37%;
    z-index: 9999;
    text-align: center;
}
.content__price{
    display: flex;
    align-items: baseline;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: #770613;
    width: 40%; 
    margin: 0 auto; 
    border-bottom: 3px solid #770613;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    justify-content: center;
}
.content__price > span{
    font-size: 30px !important;
}
.content__info{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    width: 60%; 
    margin: 27px auto 0; 
    color: #770613;
}

/* Media Start */

@media (max-width: 430px) {
    .fact__image > img{
        width: 300px;
    }
    .content__price{
        font-size: 47px;
        line-height: 54px;
    }
    .content__price > span{
        font-size: 20px;
    }
    .content__info{
        font-size: 16px;
        line-height: 18px;
        margin-top: 15px;
        width: 59%; 
    }
}